<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexparpas.media.youtube">

    <application>

        <activity
            android:name=".ui.video.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout" />

    </application>

</manifest>
